header {
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
}

header nav {
    padding: 1rem 0;
    border-bottom: 1px solid var(--text-secondary);
    position: absolute;
    z-index: 99999;
    width: 100%;
}

.sticky {
    position: fixed;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    animation: slideDown 0.3s ease-in-out;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    border: 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1 {
    margin: 0;
    color: var(--text-primary);
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--text-primary);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    align-items: center;
}

.nav-links li a {
    text-decoration: none;
    color: var(--text-secondary);
    transition: var(--transition);
    padding: 0.7rem;
    display: inline-block;
}

.nav-links li:hover a {
    color: var(--text-primary);
    font-size: 1.1rem;
}

header .hero .text {
    padding: 13rem 0;
    text-align: center;
}

header .hero .text h1 {
    font-size: 4rem;
    color: var(--text-primary);
    margin-bottom: 1.5rem;
}

header .hero .text p {
    font-size: 1.3rem;
    color: var(--text-primary);
}

@media (max-width: 1024px) {
    .nav-links {
        gap: 0.5rem;
    }
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 70px;
        right: 0;
        width: 200px;
        background: rgba(255, 255, 255, 0.95);
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
        border-radius: 0 0 0 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
    }

    .nav-links.active {
        transform: translateX(0);
    }

    .nav-links li {
        width: 100%;
    }

    .nav-links li a {
        display: block;
        width: 100%;
    }
}